.row {
  display: flex;
  flex-direction: row;
}

.row-end {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
}

.col {
  display: flex;
  flex-direction: column;
}

.col-end {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
}

.spaced > * {
  margin: 1rem;
}

.spaced-h > *:nth-child(n+2) {
  margin-left: 1rem;
}

.spaced-v > *:nth-child(n+2) {
  margin-top: 1rem;
}

.m1 {
  margin: 1rem;
}

.m1l {
  margin-left: 1rem;
}

.m1r {
  margin-right: 1rem;
}

.m1t {
  margin-top: 1rem;
}

.m1b {
  margin-bottom: 1rem;
}

.mal {
  margin-left: auto;
}

.mat {
  margin-top: auto;
}

.dans-label {
  font-size: smaller;
  opacity: 0.5;
}

.dans-toast-container {
  position: fixed;
  bottom: 0;
  right: 0;
}

.dans-toast {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: white;
  box-shadow: 0px 0px 0.25rem grey inset;
}

.dans-toast-success {
  background-color: palegreen;
}

.dans-toast-warn {
  background-color: yellow;
}

.dans-toast-error {
  background-color: lightcoral;
}
