.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.spaced > * {
  margin: 1rem;
}

.spaced-h > *:nth-child(n+2) {
  margin-left: 1rem;
}

.spaced-v > *:nth-child(n+2) {
  margin-top: 1rem;
}

.m1 {
  margin: 1rem;
}

.m1l {
  margin-left: 1rem;
}

.m1r {
  margin-right: 1rem;
}

.m1t {
  margin-top: 1rem;
}

.m1b {
  margin-bottom: 1rem;
}

.mal {
  margin-left: auto;
}

.mat {
  margin-top: auto;
}

.dans-label {
  font-size: smaller;
  opacity: 0.5;
}
